////////////////////////
// LOGO
.logo {
  height: 3.25rem;
}

///////////////////////
//SEARCH
.search {
  &__icon {
    width: 2rem;
    height: 2rem;
  }
}

//////////////////////
// USER NAVIAGTION
.user-nav {
  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }
}
